body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.container2{
  border: 1px solid black;
  float: left;
}
.form-group{
  margin: 2vh;
}
.subcontent{
  border: 1px solid black;
  float: left;
  padding: 2%;
  align-content: center;
  background-color: #e1e1e1;
}
.locrate{
  /*background-color: red;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
