extends ../../layout 

block content 

  div.header 
    h1.titl.new New Employee
  div.ftitl New Employee
  div.container2
    form(action='/restaurants/#{idNum}/employee' method='post')
      div.form-group
        label(for="fName") First Name
        input.form-control(type="text" id="fname" name='fname' placeholder="First Name")
      div.form-group
        label(for="lName") Last Name
        input.form-control(type="text" id="lname" name='lname' placeholder="Last Name")
      div.form-group
        label(for="select") position
          input(type="select" name="select" value="Manager" selected)
          input(type="select" name="select" value="Chef")
          input(type="select" name="select" value="Waiter")
          input(type="select" name="select" value="Host")
      div.btns
        button.btn.sub(type="submit") Submit
        button.btn.can(type="submit") Cancel
        
