extends ../../layout 

block content 

  div.header 
    h1.titl.new New Employee
  div.ftitl New Employee
  div.container2
    form(action='/restaurants/#{idNum}/employee' method='post')
      div.form-group
        label(for="firstName") First Name
        input.form-control(type="text" id="firstName" name='firstName' placeholder="First Name")
      div.form-group
        label(for="lastName") Last Name
        input.form-control(type="text" id="lastName" name='lastName' placeholder="Last Name")
      div.form-group
        label(for="position") position
          select(name='position' id='position')
            option(type="select" name="manager" value="Manager" selected) Manager
            option(type="select" name="chef" value="Chef") Chef
            option(type="select" name="waitert" value="Waiter") Waiter
            option(type="select" name="host" value="Host")  Host
      div.btns
        button.subR(type="submit") Submit
        button.canR(type="submit") Cancel
        
