extends ../layout 

block content 
  div.header
    div.adlink: a.ad(href= '/restaurants/admin') #{title}
  div.adbody
    for rest, index in restaurants
      div.indRest
        if isNaN(rest)
          h1.rtitl= rest
        else
          - var numstar = rest;
          - while (numstar--)
            i.star.fa.fa-star
    div.btnsS
      for i in id
        div.indiBtns
          a.btnEs(href='/restaurants/#{i}/edit') Edit
          form(action='/restaurants/#{i}/delete' method='post')
            input.btn-link.d(type='submit' value='Delete')
                
      
